@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* About */
.about-content{
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-outline{
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 2px solid #b6b6d126;
  border-radius: 44px;
  justify-content: center;
  align-items: stretch;
  width: 95%;
  max-width: 1200px;
  min-height: 650px;
  margin-top: 0;
  padding: 12px;
  display: flex;
  position: relative;
}
   /*Sidebar*/
.about-sidebar{
  background-color: #fff;
  border-radius: 32px;
  flex-direction: column;
  width: 240px;
  display: flex;
  box-shadow: 0 0 20px #ececf1;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.vector-box{
  width: 100%;
  height: auto;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.vector-img{
  width: 80%;
}

.about-label{
  margin-top: 25px;
  padding: 10px 26px;
  color: #72718a;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.bar-container{
  margin-top: 5px;
  width: 100%;
}

.bar-button{
  width: calc(100% - 52px);
  height: 25px;
  padding: 6px 26px;
  display: flex;
  align-items: center; 
  font-family: Poppins;
  transition: 0.2s ease-in-out;
  color: #26253b;
  letter-spacing: 0;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 22px;
  position: relative;
  cursor: pointer
}
.bar-button:hover{
  background-color: #f4f3fa;
  transition: 0.2s ease-in-out;
}
.bar-button.clicked{
  background-color: #f4f3fa;
  transition: 0.2s ease-in-out;
}

.bar-line{
  height: 100%;
  width: 5px;
  background-color:  rgb(255, 14, 14);
  position: absolute;
  right: 0px;
  transition: 0.5s ease-in-out;
  animation: slideInRight 0.5s ease forwards;
}

.bar-icon{
  color: #4e4e66;
  margin-right: 10px;
  font-size: 18px;
  transition: 0.4s ease-in-out;
}
.bar-icon.clicked{
  color: rgb(255, 14, 14);
}

.cv{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  bottom: 2%;
  border-radius: 18px;
  transition: 0.4s ease-in-out;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #72718a;
  user-select: none;
  cursor: pointer;
}
.cv:hover{
  background-color: #f4f3fa;
  color: rgb(255, 14, 14);
}
.cv-ico{
  font-size: 13px;
  margin-right: 5px;
}


   /*Main body*/
.about-main-body{
  background-color: #fff;
  border-radius: 32px;
  flex-direction: row;
  flex: 1;
  min-width: 100px;
  max-width: 600px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 20px #ececf1;
  overflow: hidden;
}

.about-side-body{
  background-color: #fff;
  border-radius: 32px;
  width: 30%;
  max-width: 380px;
  overflow: hidden;
  box-shadow: 0 0 20px #ececf1;
  overflow: hidden;
}

/* Projects */
.projects-container{
  height: 130px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.projects-label{
  font-size: 42px;
  color: rgb(255, 14, 14);
}

.projects-label-container{
  height: auto;
  text-align: center;
  border-radius: 10px;
}

.stacking-cards-container {
  position: relative;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
}

.default-card{
  width: 100%;
  height: 80vh; /*100px margin and 70 for navbar*/
  background-color: #f4f3fa; 
  position: sticky;
  top: calc(12%);
  z-index: 1;
  transition: width 0.4s ease-out, height 0.4s ease-out; 
  opacity: 0;
}

.stacking-card {
  width: 90%;
  height: 80vh; /*100px margin and 70 for navbar*/
  background-color: #f4f3fa; 
  border-radius: 70px;
  position: sticky;
  overflow: hidden;
  top: calc((20vh + 70px)/2);
  z-index: 1;
  opacity: 1;
  transition: width 0.4s ease-in, height 0.4s ease-in; 
  display: flex;
}

.card-1 {
  background-color: #f4f3fa; 
}

.card-2 {
  background-color: #fff;
  background-image: linear-gradient(#f84f391a, #f84f391a);
  margin-top: 150px;
  z-index: 2;
}

.left-side{
  width: 50%;
  height: 100%;
}
.right-side{
  width: 50%;
  height: 100%;
}

/* Contact */
.contact-container {
  height: auto;
  width: 100%;
  background-color: transparent;
  justify-content: center;
  display: flex;
  text-align: center;
}

.contact-card{
  width: 90%;
  height: 100vh; /*100px margin and 70 for navbar*/
  background-color: #222222; 
  z-index: 1;
  margin-top: 30px;/*delete later*/
  border-radius: 70px;
  overflow: hidden;
  transition: 0.4s ease-in; 
}

.contact-card-end{
  width: 100%;
  height: 100vh; /*100px margin and 70 for navbar*/
  background-color: #222222; 
  z-index: 1;
  border-radius: 0px;
  transition: 0.4s ease-out; 
}

.space{
  width: 100%;
  height: 200px;
}

.contact-label-container{
  display: flex;
  font-size: 1.5em;
  align-items: center;
}

.contact-label1{
  background-color: #f4f3fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 160px;
}


@media screen and (max-width: 767px) {
  .stacking-card{
    width: 95%;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
  } 

  .contact-card{
    width: 95%;
    border-radius: 60px;
  }

  .left-side{
    height: 50%;
  }
  .right-side{
    width: 95vw;
  }

}

@keyframes slideInRight{
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInRight {
  opacity: 0;
}
.slideInRight.animated {
  animation: slideInRight 0.8s ease-out;
  opacity: 1;
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  }
}

.slideOutRight{
  opacity: 1;
}
.slideOutRight.animated {
  animation: slideOutRight 0.5s ease-in;
  opacity: 0;
}