.container {
    position: relative;
  }
  
  .first-div {
    background-color: lightblue;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 20px;
  }
  
  .second-div {
    background-color: lightcoral;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    transform: translateY(0);
    transition: transform 0.1s ease-out;
  }

  .space{
    height: 1000px;
  }

/* Projects */
.projects-label{
  height: 100px;
  width: 100%;
  background-color: green;
}

.stacking-cards-container {
  position: relative;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  padding-bottom: 35px;
}

.stacking-card {
  width: 93%;
  height: 80vh; /*100px margin and 70 for navbar*/
  padding: 20px;
  background-color: white;
  border-radius: 70px;
  position: sticky;
  top: calc((100vh - 70px) - 81vh); 
  z-index: 1;
  transition: 0.3s ease; 
}

.card-1 {
  background-color: white;
}

.card-2 {
  background-color: white;
  margin-top: 100px;
  z-index: 2;
}

.extra-content {
  height: 200vh;
  padding: 50px;
  background-color: #f0f0f0;
  text-align: center;
}
